@import 'node_modules/uikit/src/scss/variables.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';

* {
    font-family: monospace;
    line-height: 2;
}

body {
    font-size: 18px;
    margin-top: 1em;
    color: #333;
    @extend .uk-flex;
    @extend .uk-flex-center;
}

#main {
    @extend .uk-width-1-1\@s;
    @extend .uk-width-3-5\@m;
    @extend .uk-width-xxlarge\@l;
    padding: 1em;
}

h1 {
    font-size: 1.5rem;
    border-bottom: 2px dashed;
}

pre {
    font-size: 75%;
    background-color: #F3F3F3;
    padding: 1.5em;
    margin: 1.5em 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.75em;
}

input[type="checkbox"] {
    @extend .uk-checkbox;
    margin-right: 1em;
    vertical-align: middle;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.user img {
    @extend .uk-border-circle;
    height: 28px;
    float: right;
}

nav {
    @extend .uk-grid;
}

nav .logo {
    margin-bottom: 10px;
}

.items li > .user {
    @extend .uk-text-small;
    @extend .uk-text-muted;
}

nav .logo strong {
    background-color: #333;
    color: #FFF;
    padding: 0 0.75em;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    .completed & {
        background-color: limegreen;
    }
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;

    .lock-icon {
      margin-left: 0.5em;
    }
}

nav .user-signedin {
    font-size: 80%;
    text-decoration: none;
    line-height: 40px;
}

nav .user-signedin:before {
    content: "|";
    margin-right: 0.5em;
    color: #444;
}

nav .stages {
    @extend .uk-width-expand;
    min-width: 150px;

    select {
        @extend .uk-select;
        @extend .uk-form-width-medium;
        font-size: inherit;
        border: 2px solid;
    }
}

#index-pullRequets {
    margin-top: 40px;
}
