@import 'node_modules/uikit/src/scss/variables.scss';
@import 'node_modules/uikit/src/scss/mixins-theme.scss';
@import 'node_modules/uikit/src/scss/uikit-theme.scss';

* {
    font-family: monospace;
    line-height: 2;
}

body {
    font-size: 18px;
    margin-top: 1em;
    color: #333;
    @extend .uk-flex;
    @extend .uk-flex-center;
}

#main {
    width: 100%;

    @extend .uk-width-3-5\@m;
    @media (min-width: $breakpoint-large) {
        width: 960px;
    }

    > section {
        margin: 1em;
    }
}

h1 {
    font-size: 1.5rem;
    border-bottom: 2px dashed;
}

pre {
    font-size: 75%;
    background-color: #F3F3F3;
    padding: 1.5em;
    margin: 1.5em 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user img {
    @extend .uk-border-circle;
    height: 28px;
    float: right;
    margin-left: 3px;
}

nav {
    @extend .uk-grid;
}

nav .logo {
    margin-bottom: 10px;
}

#checklist-items {
    li {
        @extend .uk-grid;
        @extend .uk-grid-collapse;
        margin-bottom: 0.75em;

        .title {
            @extend .uk-text-truncate;
            @extend .uk-width-expand;
        }
        .title, > .user {
            margin: 0 0.5em;
        }
        > .user {
            @extend .uk-text-small;
            @extend .uk-text-muted;
            line-height: inherit;
        }
    }
    .check .checkbox {
        border: 0;
        padding: 5px;
        background: transparent;
        color: #DDD;
        margin-right: 18px;
        vertical-align: middle;
        font-size: 28px;
        cursor: pointer;
        &:focus {
            outline: none;
            color: darken(#DDD, 10%);
        }
        &.checked {
            color: $global-link-color;
            &:focus {
                color: lighten($global-link-color, 10%);
            }
        }
        -webkit-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        -webkit-transition-property: color, background-color, border-color;
        transition-property: color, background-color, border-color;
    }
}

nav .logo strong {
    background-color: #333;
    color: #FFF;
    padding: 0 0.75em;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    .completed & {
        background-color: limegreen;
    }
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;

    .lock-icon {
      margin-left: 0.5em;
    }
}

nav .user-signedin {
    font-size: 80%;
    text-decoration: none;
    line-height: 40px;
}

nav .user-signedin:before {
    content: "|";
    margin-right: 0.5em;
    color: #444;
}

nav .stages {
    @extend .uk-width-expand;
    min-width: 150px;

    select {
        @extend .uk-select;
        @extend .uk-form-width-medium;
        font-size: inherit;
        border: 2px solid;
    }
}

#index-pullRequets {
    margin-top: 40px;
    h2 {
        margin-top: 20px;
    }
}
