-@ val title: String = "prchecklist"
-@ val headline: String = title
-@ val body: String
-@ val visitor: Option[prchecklist.models.Visitor]

!!! 5
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" rel="stylesheet" type="text/css")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  body
    nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/")
            | prchecklist
            sup
              small(title="Built: #{BuildInfo.builtAtString}")
                = BuildInfo.version
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/repos") Repositories
          = visitor match
            - case Some(v) =>
              ul.nav.navbar-nav.navbar-right
                li.navbar-text
                  img(src={v.avatarUrl} height=16)
                  = v.login
            - case None =>
              form.navbar-form.navbar-right(action="/auth" method="GET")
                input(type="hidden" name="location" value={request.getPathInfo})
                button.btn.btn-default(type="submit")
                  | Login
    .container
      != body
