-@ val title: String = "prchecklist"
-@ val headline: String = title
-@ val body: String

!!! 5
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" rel="stylesheet" type="text/css")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    style
      | body {
      |   font-size: 18px;
      |   font-family: "Lato", sans-serif;
      |   line-height: 1.8;
      |   padding-top: 40px;
      | }
      | h1, h2 { font-weight: 700; }
      | h1 {
      |   font-style: italic;
      |   margin-bottom: 1em;
      | }
      | h1 small {
      |   font-weight: 400;
      |   font-style: normal;
      | }
      | h1 small a {
      |   color: grey;
      | }
      | .description {
      |   font-family: 90%;
      |   padding: 1em 2em;
      |   background-color: #EEE;
      | }
      | .task-list-item {
      |   list-style: none;
      | }
      | .task-list-item input[type=checkbox] {
      |   margin-right: 0.5em;
      | }
      | .checklist-check-mark {
      |   color: silver;
      |   font-size: 170%;
      |   margin-right: 0.3em;
      | }
      | .all-green .checklist-check-mark {
      |   color: #6b8e23;
      | }
      | .headline {
      |   display: flex;
      | }
      | .headline i {
      |   margin-top: 5px;
      | }
      | .headline small {
      |   display: block;
      | }
      | #checklist {
      |   list-style: none;
      |   padding: 0;
      |   margin-top: 2em;
      | }
      | #checklist li {
      |   line-height: 48px;
      |   padding: 0.5em 1em;
      |   margin-bottom: 0.6em;
      |   font-size: 105%;
      |   border: 1px solid #DDD;
      |   display: flex;
      | }
      | #checklist li a {
      |   margin-right: 0.5em;
      | }
      | #checklist li {
      |   transition: opacity 0.5s;
      | }
      | #checklist li.checked {
      |   opacity: 0.3;
      | }
      | #checklist li:hover {
      |   opacity: 1;
      | }
      | #checklist .checkers-container {
      |   flex: 1;
      |   text-align: right;
      | }
      | #checklist .checkers-container .checkers {
      |   margin-left: 0.5em;
      |   margin-right: 0.5em;
      | }
      | #checklist .checkers-container form {
      |   display: inline;
      | }
  body
    .container
      != body
