name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  test:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:alpine
        ports:
          - '6379:6379'
      datastore-emulator:
        image: motemen/datastore-emulator:alpine
        ports:
          - '18081:8081'
        env:
          CLOUDSDK_CORE_PROJECT: prchecklist-test

    env:
      TEST_REDIS_URL: 'redis://localhost:6379'
      DATASTORE_EMULATOR_HOST: 'localhost:18081'
      DATASTORE_PROJECT_ID: prchecklist-test

    steps:

    - uses: actions/setup-go@v2
      with:
        go-version: 1.14

    - uses: actions/setup-node@v2
      with:
        node-version: 14

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - name: Cache Yarn
      uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Cache Go
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1

    - run: |
        make setup

    - run: |
        make lint

    - run: |
        make build

    - name: Test (unit)
      run: |
        make test-unit
      env:
        PRCHECKLIST_TEST_GITHUB_TOKEN: ${{ secrets.PRCHECKLIST_TEST_GITHUB_TOKEN }}

    - name: Test (integration)
      run: |
        mkdir __screenshots__
        TEST_SCREENSHOT_PATH=__screenshots__ make test-integration
      env:
        PRCHECKLIST_TEST_GITHUB_TOKEN: ${{ secrets.PRCHECKLIST_TEST_GITHUB_TOKEN }}

    - name: Run reg-suit
      run: |
        # workaround for reg-notify-github-with-api-plugin
        test -n "$GITHUB_HEAD_REF" && git checkout -B "${GITHUB_HEAD_REF#refs/heads}"

        git fetch -v origin HEAD
        export REG_EXPECTED_KEY=$(git merge-base HEAD FETCH_HEAD)
        export REG_ACTUAL_KEY=$(git rev-parse HEAD)

        yarn reg-suit run
      env:
        REG_S3_BUCKET_NAME: motemen-reg-suit
        GITHUB_TOKEN: ${{ github.token }}

    - uses: codecov/codecov-action@v1.5.2
